/* font-AvenirNext.css - Fichier de définition / chargement de la police 'Avenir Next' : https://freefontsfamily.com/avenir-next-font-download-free/ 
=> il faut héberger les fichiers .otf (opentype). 
A utiliser ensuite avec: 
font-family: "Avenir Next", Arial, Helvetica, "Segoe UI", Tahoma, Verdana, sans-serif;
*/
@font-face {
    font-family: "Avenir Next";
    src: local("Avenir Next"),
    local("Avenir Next LT Pro"),
    url("../fonts/AvenirNextLTPro-Regular.otf");
    src: local("Avenir Next"),
    local("Avenir Next LT Pro"),
    url("../fonts/AvenirNextLTPro-Regular.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Avenir Next";
    src: local("Avenir Next"),
    local("Avenir Next LT Pro"),
    url("../fonts/AvenirNextLTPro-Bold.otf");
    src: local("Avenir Next"),
    local("Avenir Next LT Pro"),
    url("../fonts/AvenirNextLTPro-Bold.otf") format("opentype");
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: "Avenir Next";
    src: local("Avenir Next"),
    local("Avenir Next LT Pro"),
    url("../fonts/AvenirNextLTPro-It.otf");
    src: local("Avenir Next"),
    local("Avenir Next LT Pro"),
    url("../fonts/AvenirNextLTPro-It.otf") format("opentype");
    font-weight: normal;
    font-style: italic;
}