/* legend-symbols.css - Mise en forme des marqueurs présents dans la légende de la carte */
.legendCircleConges {
    border: 1px solid rgba(0, 0, 255, 0.9);
    border-radius: 50%;
    background-color: #0095ffcc;    /* cc=80% (0.8) */
    width: 15px;
    height: 15px;
    margin: auto;
}

.legendCircleCongesCr {
    border: 1px solid rgba(0, 0, 255, 0.9);
    border-radius: 50%;
    background-color: #0095ff0c;    /* 0c=5% (0.05) */
    width: 15px;
    height: 15px;
    margin: auto;
}

.legendCircleNoConge {
    border: 1px solid rgba(0, 0, 0, 0.9);
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.8);    /* cc=80% (0.8) */
    width: 3px;
    height: 3px;
    margin: auto;
}

.legendSquareHasAClerk {
    border: 2px solid #8a2be2e5;    /* e5=90% (0.9) */
    /*border: 2px solid #e31a1ce5;*/    
    width: 7px;
    height: 7px;
    margin: auto;
}

.legendLineAdmiraltyLim {
    border-color: #B2886Ce5; /* e5=90% (0.9) */
    border-style: dashed none none none;
    border-width: 2px;
    width: 25px;
    height: 0px;
    margin: auto;
}

.legendCircleVar20 {
    border: 1px solid rgba(33, 37, 41, 0.9);
    border-radius: 50%;
    background-color: #fef0d9cc;    /* cc=80% (0.8) */
    width: 15px;
    height: 15px;
    margin: auto;
}

.legendCircleVar40 {
    border: 1px solid rgba(33, 37, 41, 0.9);
    border-radius: 50%;
    background-color: #fdcc8acc;    /* cc=80% (0.8) */
    width: 15px;
    height: 15px;
    margin: auto;
}

.legendCircleVar60 {
    border: 1px solid rgba(33, 37, 41, 0.9);
    border-radius: 50%;
    background-color: #fc8d59cc;    /* cc=80% (0.8) */
    width: 15px;
    height: 15px;
    margin: auto;
}

.legendCircleVar80 {
    border: 1px solid rgba(33, 37, 41, 0.9);
    border-radius: 50%;
    background-color: #e34a33cc;    /* cc=80% (0.8) */
    width: 15px;
    height: 15px;
    margin: auto;
}

.legendCircleVar100 {
    border: 1px solid rgba(33, 37, 41, 0.9);
    border-radius: 50%;
    background-color: #b30000cc;    /* cc=80% (0.8) */
    width: 15px;
    height: 15px;
    margin: auto;
}