/* tooltips-custom.css - Mise en forme des étiquettes de marqueurs (noms des ports, et des régions) */

/* Tooltip : no triangle - The style options for the triangle (or "tail") are located in .leaflet-tooltip-left:before and .leaflet-tooltip-right:before. */
.leaflet-tooltip-top:before, 
.leaflet-tooltip-bottom:before, 
.leaflet-tooltip-left:before, 
.leaflet-tooltip-right:before {
    border: none;
}

/* Just name of the port, no background, no shadow, no border ... */
.port-conges-tooltip {
	position: absolute;
    color: #1d4bf3;
	font-style: italic;
	font-family: sans-serif;
	white-space: nowrap;
	padding: 0px; 
    border: none;
    background: transparent;
    box-shadow: none;
}
/* Name of region on the World Map, no background, no shadow, no border ... */
.region-name-tooltip {
	position: absolute;
    color: black;
	font-style: normal;
	font-family: sans-serif;
	white-space: nowrap;
	padding: 0px; 
    border: none;
    background: transparent;
    box-shadow: none;
}
/* Pour masquer l'icone d'un marqueur */
.hidden-div-icon {
	width: 0px !important;
	height: 0px !important;
	outline: unset !important;
}

