/* vizsources.css - Styles CSS de l'application VizSources */
@import url("font-AvenirNext.css"); /* definition / chargement police de caracteres */

body {
    background-color: white;
    color: #0F323A;
    font-family: "Avenir Next", Arial, Helvetica, "Segoe UI", Tahoma, Verdana, sans-serif;
  }
/*
.leaflet-container {
    font-family: "Avenir Next", Arial, Helvetica, "Segoe UI", Tahoma, Verdana, sans-serif;
    font-size: 0.8rem;
}
*/

a {
    text-decoration: none !important;
}
a:link, a:visited {
    color: #3A7686;
}
a:hover {
    color: #ca9b52 !important;
}


.txtNavBar {
    font-size: 1.75rem;
}
