<li class="nav-item" style="display: flex;align-items: center;">
    <select size="1" onChange="location = this.options[this.selectedIndex].value;">
        {% for opt_lang, opt_display in config.plugins.i18n.config.languages.items() -%}
            <option class="nav-link" value="../{{ opt_lang }}/index.html" {% if opt_lang == i18n_page_locale %}selected{% endif %}>{{ opt_lang }}</option>
        {% endfor %}
    </select>
</li>

