<!DOCTYPE html>
<html>
    <head>
        <title>Visualisation des sources de Portic</title>

        <meta charset="utf-8" />
        <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    </head>

    <body>
        
        <!-- Test Leaflet en JavaScript 
        <style>
            #map { height: 500px; }
        </style>
        <div id="map"></div>
        -->

        <!--data-apiurl="http://127.0.0.1/api"-->
        <!--data-apiurl="http://data.portic.fr/api"-->
        <div id="render-react"
            data-apiurl="http://127.0.0.1/api"
        ></div>

        <script type="text/javascript" src="{{ url_for('static', filename='dist/vizsources.bundle.js') }}"></script>
    </body>
</html>
